<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-list *ngIf="userData">
      <ion-item>
        <ion-label>Select Rank</ion-label>
        <ion-select [(ngModel)]="userData.rank">
          <ion-select-option
            *ngFor="let rank of ranks | keyvalue"
            [value]="rank.value">
            {{ rank.value }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Select Role</ion-label>
        <ion-select [multiple]="true" [(ngModel)]="userData.roles">
          <ion-select-option
            *ngFor="let role of roles | keyvalue"
            [value]="role.value">
            {{ role.value }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Field Name</ion-label>
        <ion-input class="ion-text-right" [value]="userData.name"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="saveChanges()">
        Update
      </ion-button>
    </ion-list>
  </div>
</ion-content>
