<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Map</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngIf="center">
    <ion-label>
      Longitude: {{ center.lng }}
    </ion-label>
    <ion-label>
      Latitude: {{ center.lat }}
    </ion-label>
    <ion-label>
      Accuracy: {{ accuracy }}
    </ion-label>
    <google-map
      [center]="center"
      [options]="options"
      [zoom]="zoom"
      width="100%"
    >
      <map-marker
        [position]="playerMarker.position"
        [icon]="playerMarker.icon"
      >
      </map-marker>
    </google-map>
    <ion-button (click)="recenterMap()">
      Center camera
    </ion-button>
  </ng-container>
</ion-content>
